<!-- Loop over each object in the posts array -->
{{#each posts as |post|}}
  <div class='post'>
    <div class='center'>
      <div class='card'>
        <h2 class='center'>
          <a href='/post/{{post.id}}'>{{post.title}}</a>
        </h2>
        <div class='card-body'>
          <p>Posted by
            {{post.user.name}}
            on
            {{format_date post.date_created}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}