<div class='columns is-flex is-desktop is-vcentered form-height'>
  <form class='column is-half is-offset-one-quarter box new-post-form p-4'>
    <div class='field'>
      <input class='input' type='text' id='post-title' placeholder='Title' />
    </div>

    <div class='field'>
      <textarea
        class='textarea'
        id='post-content'
        placeholder='Blog post content'
      ></textarea>
    </div>
    <div class='field'>
      <p class='control'>
        <button class='button is-primary' type='submit'>
          Create
        </button>
      </p>
    </div>
  </form>
</div>
<script src='./js/new.js'></script>